@import "./Variables.scss";

.navbarWrapper {
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 10px 20px;
    background : #fff;

    img { 
        width : 120px;
    }

    .searchWrapper{
        display : flex;
        justify-content: center;
        align-items: center; 

        input {
            width : 300px;
            border : 1px solid $divider;
            padding : 8px;
            font-size : 14px;
            border-radius: 5px 0 0 5px;
        }

        .searchIcon {
            padding : 9px 15px;
            border-radius:  0 5px 5px 0;
            background : $secondary;
            color : #fff;
        }
    }

    .content{
        display : flex;
        justify-content: space-around;
        align-items: center;
        font-size : 15px;
        gap : 15px;
        color : $gray;
        margin-right : 20px;

        .avatar {
            width : 40px;
            border-radius : 50%
        }

        .icon {
            font-size : 20px;

            &.bars {
                display : none
            }
        }

        .name {
            display : flex;
            justify-content: center;
            align-items: center;
            gap : 5px;
            font-weight: 500;

            .icon{
                font-size: 14px;
            }
        }
    }

    @media screen and (max-width : $mobileScreenWidth){
        .searchWrapper, .content a, .content .icon.notificationIcon {
            display : none;
        }

        .content .icon.bars {
            display : block
        }
    }
}