$primary : #213F7D;
$gray : rgba(33, 63, 125, 1);
$gray2 : #545F7D;
$divider : #545F7D26;
$red : #E4033B;
$secondary : #39cdcc;
$secondary-1 : rgb(57, 205, 204, .1);
$secondary-2 : rgb(57, 205, 204, .2);
$secondary-3 : rgb(57, 205, 204, .3);
$secondary-4 : rgb(57, 205, 204, .4);
$secondary-5 : rgb(57, 205, 204, .5);
$secondary-6 : rgb(57, 205, 204, .6);
$secondary-7 : rgb(57, 205, 204, .7);
$secondary-8 : rgb(57, 205, 204, .8);
$secondary-9 : rgb(57, 205, 204, .9); 
$primary-1 : rgba(33, 63, 125, .1);

$mobileScreenWidth : 758px;
$tabletScreenWidth : 1040px;